

@font-face {
    src: url('fonts/SimHei.ttf');
}

* {
    -fx-font-family: 'SimHei';
}

.label {
    -fx-font-size: 12pt;
    -fx-pref-height: 30;
    -fx-pref-width: 120;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-pref-height: 30;
    -fx-pref-width: 150;
}

.file-field{
    -fx-font-size: 12pt;
    -fx-pref-height: 30;
    -fx-pref-width: 150;
}

.button {
    -fx-font-size: 12pt;
    -fx-pref-height: 30;
    -fx-pref-width: 100;
}

.menu {
    -fx-pref-width: 60px;

}

.menu-item {
    -fx-font-size: 11px;
    -fx-text-overrun: clip;
}

.hbox {
    -fx-pref-width: 150px;
}